body {
    background: #111;
    color: white;
    font-family: "Courier New", monospace;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

#menu {
    margin-top: 80px;
}

button {
    padding: 15px 25px;
    margin: 10px;
    font-size: 20px;
    background: #333;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #555;
}

#gameCanvas {
    display: none;
    background: #000;
    border: 3px solid white;
    margin-top: 20px;
}
